@font-face {
  font-family: IBM;
  src: url(../fonts/PxPlus_IBM_BIOS.ttf),
       local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold");
}
body {
	font-family: IBM !important;
	color: white;
	background-color: black;
}
.current {
  color: green;
}